@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border: #59de0c;
    }

    .main {
        display: flow-root;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }

    .card {
        max-width: 21em;
        margin: 1rem;
        /* without scaling */
        padding: 1em;
    }
}

@layer components {

    .card__title {
        font-size: 1.75em;
        font-weight: bold;
        color: var(--secondary);
    }

    .card__description {
        font-size: 0.75em;
    }

.card__pricing {
    font-size: 0.75em;
}

    .highlight {
        font-weight: bold;
    }

    .highlight--primary {
        color: var(--primary);
    }

    .highlight--large {
        font-size: 1.5em;
    }

}